.hero {
  height: 100vh;
  background-image: url("./img/fondo3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 👇 media query FUERA */
@media (max-width: 768px) {
  .hero {
    background-position:right;
  }
}

h1 {
  font-family: "Baloo 2", sans-serif;
  color: #ffffff;
  font-weight: 900;
}

p{
    color: #ffffff;
    font-weight: 600;
    font-family: "Baloo 2", sans-serif;
}

.btn{
  background-color: #DBA3C9;
  color: #000000;
  border: none;

  &:hover {
    background-color: #BA7425;
    color: #000;
  }
}

.imagen-card {
  height: 600px;
  object-fit: cover;
}

h4{
  font-family: "Baloo 2", sans-serif;
  color: #ffffff;
  font-weight: 900;
}

h5{
  font-family: "Baloo 2", sans-serif;
  color: #ffffff;
  font-weight: 900;
  font-size: 40px;
}

.slider-img {
  height: 60vh;
  object-fit: cover;
}